/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/*A good number of these styles came with the boilerplate but I've not only adjusted them to fit my site, but also have added many of my own. The site is built for Mobile First, the media queries increase in screen size.*/

html,
button,
input,
select,
textarea {
    color: #222;
}

.title a {
  text-shadow: none;
  color: #00bfa8;
} /*these styles override the following h1, etc styles. So the title remains legible */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000;
  text-shadow: 0 1px 0 #f0f0f0;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color: #000000;
}

p {
  font-family: "Lato", "HelveticaNeue", Helvetica, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */


.header-container,
.footer-container {
   background: #444444;
}


/* ==============
    MOBILE: Menu
   ============== */

.nav-primary ul {
   padding: 0; /*centers the nav, it was slightly pushed to the right*/
}
.nav-primary li {
   font-size: 1.8em;
   border-bottom: 1px solid #eee;
   text-align: center;
}
.nav-primary li:last-child {
   border-bottom: 0;
}
.nav-primary a {
   display: block;
   padding: .5em .8em;
   text-decoration: none;
   color: #E8E6DB;
}



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main-container {
  background: url('../img/bg.jpg')
}  /* Background image taken from http://www.flickr.com/photos/93568255@N05/8510307495/ */


.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #000000;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.newsbox {
  margin-bottom: 35px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
} /*Different from the .box styles, this is for the asides on various pages and thenews boxes/sections on the News page*/

#hotels a {
  color: #00bfa8;
}

header a, header a:visited {
  text-decoration: none;
}

article a, article a:visited {
  color: inherit;
}

button.submit:hover {
    cursor: pointer;
    opacity: .85;
}

button.submit {
    background-color: #00bfa8;
    border: 0;
    border-radius: 0.5em;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: .5em 1em;
    text-align: center;
}

aside a, aside a:visited, button a, button a:visited {
  text-decoration: none;
  color: inherit;
}

#map_canvas {
        max-width: 100%;
        height: 200px;
} /*This is the styling for the embedded Google Map of the Stadium, same as with the image scaling, setting a max-width keeps it within the boundary of the size of the browser*/

.headshotlist {
  list-style: none;
  text-align: center;
  height: inherit;
  margin: 0px;
  padding: 10px 0px;
  overflow: hidden;
}

.headshotlist li {
  display: inline-block;
}

.headshot {
  margin-bottom: 35px;
  padding: 20px;
  width: 200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}


.center {
  text-align: center;
}

img {
  max-width: 100%;
} /*Setting a max-width scales down the images when going through all the different media queries, therefore I don't have to resize them all*/

#survival {
  margin: 0 auto;
  float: none;
}

.box {
  border-radius: 4px;
  border: 5px solid #5e5e5e;
}
/*The .box styles above and below add a border and color change on hover around any lightbox capable images*/
.box:hover {
  border-color: #00bfa8;
}

.gallery {
  padding: 0;
}

.gallery li {
  display: inline-block;
  width: 95%;
  margin: .25em;
}

.lineup {
  width: 100%;
  list-style: none;
  text-align: center;
}

#tickets {
  text-align: center;
  margin: 0 auto;
  float: none;
} /*The boilerplate came with set css styles, one was to have articles floated to the left, this undoes that for this specific article*/



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
header.wrapper {
  margin: 0;
  width: 100%;
}


.nav-primary ul {
   float: left;
   clear: both;
}
.nav-primary li {
   float: left;
   font-size: inherit;
   border-bottom: 0;
}
.nav-primary a {
   display: block;
   padding: 15px 4px;
   text-decoration: none;
   color: #E8E6DB;
}
.nav-primary a:hover {
   background-color: #inherit;
}

    nav a {
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        display: block;
        margin-bottom: 10px;
        padding: 15px 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: #E8E6DB;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav {
      height: 100px;
    }

    nav a:visited {
        color: #E8E6DB;
    }

    #map_canvas {
            max-width: 100%;
            height: 400px;
    }/*Scaling the width of the map proportionally works well, but the height needed to be adjusted manually*/

    .gallery li {
      width: 48%;
    } /*This is the scaling of the gallery images individually, scaling them with a max-width of 100 would cause errors in Tablet and Mobile views*/

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 510px) {

    header.wrapper {
      margin: 0 1%;
    }

    .nav-primary li {
       padding: 1px;
    }

}

@media only screen and (min-width: 650px) {

    header.wrapper {
      width: 90%;
    }

    .nav-primary li {
      padding: 7px;
    }

    .nav-primary li.current a {
      border-bottom: 3px solid;
      border-color: #E8E6DB!important;
      color: #E8E6DB;
    }

    nav ul li a:hover {
      color: #00bfa8;
      border-bottom: 3px solid;
      border-color: #00bfa8;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    header.wrapper {
      width: 98%;
    }

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .main-container {
      min-height: 1000px;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


    nav {
        float: right;
        font-size: 13px;
        font-weight: 700;
        padding: 0px;
        margin: 5px 0 0 0;
        list-style: none;
    }

    nav ul li {
      display: inline-block;
      height: 25px;
      text-align: center;
      padding: 5px;
    }

    nav ul li a {
      width: 90px;
      color: #E8E6DB;
      padding: 0;
      position: relative;
    }

    nav ul li.current a {
      border-bottom: 3px solid;
      border-color: #E8E6DB!important;
      color: #E8E6DB;
    }

    nav ul li a:hover {
      color: #00bfa8;
      border-bottom: 3px solid;
      border-color: #00bfa8;
    }

    nav a:visited {
        color: #E8E6DB;
    }


    .nav-primary li {
       padding: 7px 2px
    }

    .nav-primary a {
       padding: 6px 0;
    }
/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .gallery li {
      width: 32%;
    } /*Final scaling of the gallery images, there's no aesthetic need to scale them further in the maximal width */
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
